body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: turquoise;
}

h1 {
  color: white;
  font-size: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.btn {
  color: white;
  background: turquoise;
  font-size: 25px;
  margin: 10px;
  border: solid white 2px;
  border-radius: 5px;
  padding: 5px 10px;
}

#reset {
  color: white;
  background: turquoise;
  font-size: 25px;
  margin: 10px;
  border: none;
  padding: 5px 10px;
}

#results {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
